<%= render partial: "shared/header" %>

<!-- component -->
<div class="container mx-auto px-4">
<!-- component -->
<div class="lg:flex">

<!-- Calendar Icon -->
<%= render partial: "shared/calendar_day" %>

<div class="relative w-1/2 m-8">
  <div class="border-r-2 border-gray-200 border-dotted absolute h-full top-0 z-0" style="left: 7px"></div>
    <ul class="list-none m-0 p-0">
      <% @events.each do |event| %>
        <li class="mb-2">
          <div class="flex items-center mb-1">
              <div class="bg-indigo-600 rounded-full h-4 w-4 border-gray-200 border-2 z-10">
              </div>
          </div>
<!-- component -->
          <div class="grid mx-10">

            <!-- Question Listing Item Card -->
            <div class="bg-white rounded-lg shadow-sm hover:shadow-lg duration-500 px-2 sm:px-6 md:px-2 py-4 my-6">
              <div class="grid grid-cols-12 gap-3">
                <!-- Meta Column -->
                <div class="col-span-0 sm:col-span-2 text-center hidden sm:block">
                  <!-- Vote Counts -->
                  <div class="grid grid-rows-2"></div>

                  <!-- Answer Counts -->
                  <a href="#" class="grid grid-rows-2 mx-auto mb-3 py-1 w-4/5 2lg:w-3/5 rounded-md bg-indigo-400">
                    <div class="inline-block font-medium text-2xl text-white">
                      <%= event.started_at.year %>
                    </div>
                  </a>
                  <!-- View Counts -->
                  <div class="grid my-3"></div>
                </div>

                <!-- Summary Column -->
                <div class="col-span-12 sm:col-start-3 sm:col-end-13 px-3 sm:px-0">
                  <div class="grid sm:hidden">
                      <div class="flex flex-wrap">
                          <div class="mr-2"></div>
                          <div class="mr-2">
                              <div class="inline-block font-light capitalize">
                                  <i class="uil uil-check-circle mr-1"></i>
                                  <span class="text-sm">
                                      21 Answers
                                  </span>
                              </div>
                          </div>
                          <div class="mr-2"></div>
                      </div>
                    </div>


                <div class="mt-2">
                  <a href="#" class="sm:text-sm md:text-md lg:text-lg text-gray-700 font-bold hover:underline">
                      <%= event.title %>
                  </a>

                  <p class="mt-2 text-gray-600 text-sm md:text-md">
                    <%= event.content %>
                  </p>
                </div>
              </div>
          </div>
      </div>

        </li>
      <% end %>
    </ul>
  </div>
</div>