<div class="simple-calendar">
	<div class="bg-white rounded-lg shadow overflow-hidden">
    <div class="calendar-heading">
      <div class="flex items-center justify-between py-2 px-6">
        <div>
          <span  class="text-lg font-bold text-gray-800"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
          <span class="ml-1 text-lg text-gray-600 font-normal"></span>
        </div>
        <div class="border rounded-lg px-1" style="padding-top: 2px;">
          <%= link_to calendar.url_for_previous_view, class: "leading-none rounded-lg transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 items-center" do %>
              <svg class="h-6 w-6 text-gray-500 inline-flex leading-none"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
              </svg>
          <% end %>
          <div class="border-r inline-flex h-6"></div>
          <%= link_to calendar.url_for_next_view, class: "leading-none rounded-lg transition ease-in-out duration-100 inline-flex items-center cursor-pointer hover:bg-gray-200 p-1" do %>
              <svg class="h-6 w-6 text-gray-500 inline-flex leading-none"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
              </svg>
          <% end %>
        </div>
      </div>
    </div>


  <table class="table table-striped w-full">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs border-t">
          <%= t('date.abbr_day_names')[day.wday] %></></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr class="text-center h-20">
          <% week.each do |day| %>
          <% cl = %w(border p-1 h-40 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300) %>
            <%= content_tag :td, class: calendar.td_classes_for(day).concat(cl) do %>
              <div class="flex flex-col h-40 mx-auto xl:w-40 lg:w-30 md:w-30 sm:w-full w-10 overflow-hidden">
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                  <div class="bottom flex-grow h-30 py-1 w-full cursor-pointer"></div>
              </div>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
